{%extends 'layout.html'%}
{%load static%}


    {%block contents%}
    <body>
        <div class="cart_body" style="display: flex; justify-content: center; flex-direction: column; align-items: center; height: 70vh;">
    <h1>Your Cart</h1>
<div class="cart-container">
    {% if cart %}
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price (₹)</th>
                <th>Total (₹)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for food_id, item in cart.items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity|floatformat:2|add:item.price }}</td>
                <td>
                    <a href="{% url 'remove_from_cart' food_id %}" class="btn btn-danger">Remove</a>
                </td>
            </tr>
            {% endfor %}
        
    <tr>
     <td><a href="{% url 'bill' %}" class="btn btn-success">Proceed to Checkout</a></td>
     <td></td>
     <td></td>
    <td><h2>Total Price: ₹{{ total_price }}</h2></td>
    
    </tr>
    {% else %}
    <p>Your cart is empty. <a href="{% url 'food_list' %}">Browse food items</a></p>
    {% endif %}
</tbody>
</table>
</div>  
</div>
</body> 
{%endblock%}
 
    




